body {
  padding-top: 70px;
  padding-bottom: 70px;
  overflow-y: hidden;
}

#left-column,
#center-column,
#right-column {
  /* height: 100vh; */
  height: calc(100vh - 70px - 70px);
  overflow-y: auto;
}

.lyrics {
  white-space: pre;
}

.search-container {
  position: relative;
}

.search-input {
  height: 50px;
  border-radius: 30px;
  padding-left: 35px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #888;
}